@import 'mixins';

.category {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 40px;

  @include mq(m) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;

  @include mq(m) {
    gap: 10px;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  transition: color 0.2s;
}

.description {
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
}
