@import 'mixins';

.root {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: max-content;
  gap: 10px;
  font-weight: 400;
  font-size: 18px;

  &:hover {
    .checkbox {
      background: rgba(137, 146, 173, 0.2);

      .icon {
        transform: unset;
      }
    }

    .radio {
      &:before {
        transform: unset;
      }
    }

    .input:checked + .checkbox {
      background: rgba(24, 98, 220, 0.2);
    }
  }

  &.disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  @include mq(m) {
    font-size: 16px;
  }
}

.checkbox,
.radio {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #323142;
  transition: 0.2s ease;
  overflow: hidden;
  flex-shrink: 0;
}

.checkbox {
  border-radius: 3px;

  .icon {
    width: 16px;
    height: 16px;
    transform: translateY(12px);
    transition: 0.2s ease;
  }
}

.radio {
  border-radius: 20px;

  &:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 20px;
    background-color: #6c5fbc;
    transform: translateY(12px);
    transition: 0.2s ease;
  }
}

.input:checked ~ .checkbox,
.input.checked ~ .checkbox {
  border: 2px solid #6c5fbc;

  .icon {
    transform: unset;

    path {
      fill: #6c5fbc;
    }
  }
}

.input:checked ~ .radio,
.input.checked ~ .radio {
  border: 2px solid #6c5fbc;

  &:before {
    background-color: #6c5fbc;
    transform: unset;
  }
}

.leftLabel {
  order: -1;
}
