@import 'mixins';

.root {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  min-height: 60px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.163px;
  border-radius: 12px;
  padding: 8px 30px;
  transition: transform 0.3s, background 0.3s;
  white-space: nowrap;

  &:not(.disabled) {
    &:active {
      transform: scale(0.98);
    }
  }

  &.loading,
  &.disabled {
    pointer-events: none;
  }

  &.small {
    min-height: 24px;
    padding: 0 8px;
    font-size: 12px;
    line-height: 14px;

    @include mq(m) {
      font-size: 16px;
    }
  }
}

.text {
  // color: $lightGrey;
  border-radius: 20px;

  &:hover,
  &:focus {
    background: rgba(233, 236, 244, 0.4);
    outline: 1px solid #e9ecf4;
  }

  // &.active,
  // &:active {
  //    color: $darkGrey;
  // }

  &.disabled {
    opacity: 0.5;
  }
}

.purple {
  background: #6c5fbc;

  &:hover {
    background: #554a9b;
  }

  &.disabled {
    background: rgba(137, 146, 173, 0.7);
    color: rgba(#ffffff, 0.5);
    box-shadow: unset;

    svg,
    path,
    img {
      opacity: 0.5;
    }
  }
}

.link {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 19px;
  border-radius: 20px;
  padding: 3px 6px;
  min-height: auto;
  // color: $blue;

  &:hover,
  &:focus {
    background: rgba(24, 98, 220, 0.1);
  }

  &.disabled {
    opacity: 0.5;
  }
}

.transparent {
  color: #676f87;
  background: transparent;
}

.linkButton {
  max-width: max-content;
}
