@import 'mixins';

.root {
  width: 100%;
}

.tabs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  padding: 2px;
  border-radius: 10px;
  background: #eaeaea;

  @include mq(m) {
    gap: 4px;
  }
}
