@import 'mixins';

.root {
  max-width: 100%;
  padding: 0 10px;
  background: #ffffff;
  border-radius: 12px;

  @include boxShadow;
}

.thead {
  text-align: left;
}

.th,
.td {
  padding: 10px;
}

.th,
.td {
  border: none;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.th {
  border-bottom: 1px solid #cbcbcb;
}
