@import 'mixins';

.root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 10px;

  @include mq(l) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq(m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(xs) {
    grid-template-columns: 100%;
  }
}

.tool {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: color 0.2s;

  &:hover {
    color: #6c5fbc;
  }
}

.icon {
  width: 30px;
  height: 30px;
}

.title {
  line-height: 1;
}
