@import 'mixins';

.root {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.tools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  background: #ffffff;
  border-radius: 15px;
  padding: 15px;

  @include boxShadow;

  @include mq(l) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq(m) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(xs) {
    grid-template-columns: 100%;
  }
}

.tool {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #676767;
  transition: color 0.2s;
}

.icon {
  width: 30px;
  height: 30px;
}
