@import 'mixins';

.stats {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 30px;

  @include mq(m) {
    grid-template-columns: 100%;
  }
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.statLabel {
  font-weight: 500;
}

.statValue {
  font-weight: 600;
}

.icon {
  cursor: pointer;
  pointer-events: all;
  opacity: 0.7;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }
}
