@import 'mixins';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 86px;
  border-bottom: 1px solid #cbcbcb;

  @include mq(m) {
    height: 70px;
    justify-content: space-between;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  height: 64px;

  @include mq(m) {
    width: 100px;
    height: 44px;
  }
}

.nav {
  display: flex;

  @include mq(m) {
    display: none;
  }
}

.link {
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  text-decoration: none;

  &:hover {
    color: #6c5fbc;
  }
}

.menuToggle {
  display: none;

  @include mq(m) {
    display: block;
  }
}
