@import 'mixins';

.root {
  padding: 0 calc(50% - 624px);

  @include mq(xl) {
    padding: 0 20px;
  }
}

.link {
  color: #999999;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    color: #6c5fbc;
  }
}

.logo {
  width: 150px;
  height: 64px;

  @include mq(m) {
    width: 100px;
    height: 44px;
  }
}

.footerContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(#818181, 0.25);
  z-index: 1;
}

.copyright {
  position: relative;
  padding: 20px 0;
  color: #999;
  font-size: 14px;
  font-weight: 500;
  z-index: 1;
}
