@import 'mixins';

.wrapper {
  width: 100%;
}

.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  min-height: 40px;
  padding: 0 12px;
  border: 2px solid #6c5fbc;
  border-radius: 18px;
  user-select: none;

  @include boxShadow;

  &.isDisabled {
    pointer-events: none;
  }

  svg {
    flex-shrink: 0;
  }
}

.adornment {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 0;
}

.error {
  margin: 8px 0 0 12px;
}
