.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.iconWrapper {
  position: relative;
  display: flex;
  width: 48px;
  height: 48px;

  &.small {
    width: 24px;
    height: 24px;
  }
}

.icon {
  animation-name: rotate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 100%;
  height: 100%;
}

.watch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &.small {
    width: 8px;
    height: 8px;
  }
}

.label {
  font-weight: 700;
  font-size: 16px;
  color: #676f87;
  text-transform: uppercase;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
