@mixin mq($breakpoint) {
  @each $key, $val in $media {
    @if $breakpoint==$key {
      @media screen and (max-width: $val) {
        @content;
      }
    }
  }
}

$media: (
  3xs: 330px,
  2xs: 380px,
  xs: 480px,
  s: 640px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1920px,
);
