@mixin mq($breakpoint) {
  @each $key, $val in $media {
    @if $breakpoint==$key {
      @media screen and (max-width: $val) {
        @content;
      }
    }
  }
}

@mixin resetInput {
  width: inherit;
  color: inherit;
  font-weight: inherit;
  background: transparent;

  &::placeholder {
    color: rgba(#b6b6b6, 0.8);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
}

@mixin boxShadow {
  box-shadow: 0px 10px 25px 0px rgba(70, 70, 70, 0.25);
}

$media: (
  3xs: 330px,
  2xs: 380px,
  xs: 480px,
  s: 640px,
  m: 768px,
  l: 1024px,
  xl: 1280px,
  2xl: 1440px,
  3xl: 1920px,
);
